ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul#menu li {
    float: left;
}

ul#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#menu li a:hover:not(.active) {
    background-color: #111;
}

ul#menu .active {
    background-color: #4CAF50;
}

.footer{
    position:fixed;
    bottom:0;
    width:100%;
}

.outstand {
    /*width: 20px;
    height: 60px;*/
    /* background-color: blue; */

    /*position:relative; /*it can be fixed too
    left:0; right:0;
    top:10px; bottom:0;
    margin:auto; */
    margin-left:20px;
    margin-top:20px;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    /*max-width:20%;
    max-height:100%;
    overflow:auto;*/
}

strong {
    color: red;
}