br {
  content: " ";
  display: block;
  margin: 10px;
}

/* sortable table */

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

/* links styling */
a, a:hover {
    color: MediumSeaGreen;
}

/* Highlighting */
.highlight {
    background-color: yellow;
}

/* navbar styling */
.navbar-nav > li:not(.active) > a:hover {
    background-color: #111 !important;
}

.navbar-nav > .active > a {
    background-color: MediumSeaGreen !important;
}

.btn-primary {
    background:#333;
}

.btn-primary:hover, .btn-primary:focus{
    background:#111;
}

/* Table styling */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

/* Footer and header */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 70px;
  margin-bottom: 60px;
  border: 0
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  height: 50px;
  text-align: center;
}
.footer>p {
  margin: 0;
  width: 90%;
}

.navbar-right:last-child{margin-right:15px !important;}

/* Text in jumbotron */
.jumbotron p{
  position: relative;
  color: #000;
  text-decoration: none;
}
.jumbotron p:before {
  content: "";
  position: absolute;
  height: 0;
  top: 50%;
  left: -5px;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgb(191, 88, 44);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}


/****************************************/
/*           Loading effect             */
/****************************************/

html {
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: url('../images/200w.gif') no-repeat 50vh; /*rgba(160, 160, 160, 0); */

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
body {
    -webkit-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}
html.loading body {
    /* Make the contents of the body opaque during loading*/
    opacity: 0.4;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}

.bar1 {
  -moz-transform:rotate(0deg) translate(0, -40px);
  -webkit-transform:rotate(0deg) translate(0, -40px);opacity:0.12;
}
.bar2 {
  -moz-transform:rotate(45deg) translate(0, -40px);
  -webkit-transform:rotate(45deg) translate(0, -40px);opacity:0.25;
}
.bar3 {
  -moz-transform:rotate(90deg) translate(0, -40px);
  -webkit-transform:rotate(90deg) translate(0, -40px);opacity:0.37;
}
.bar4 {
  -moz-transform:rotate(135deg) translate(0, -40px);
  -webkit-transform:rotate(135deg) translate(0, -40px);opacity:0.50;
}
.bar5 {
  -moz-transform:rotate(180deg) translate(0, -40px);
  -webkit-transform:rotate(180deg) translate(0, -40px);opacity:0.62;
}
.bar6 {
  -moz-transform:rotate(225deg) translate(0, -40px);
  -webkit-transform:rotate(225deg) translate(0, -40px);opacity:0.75;
}
.bar7 {
  -moz-transform:rotate(270deg) translate(0, -40px);
  -webkit-transform:rotate(270deg) translate(0, -40px);opacity:0.87;
}
.bar8 {
  -moz-transform:rotate(315deg) translate(0, -40px);
  -webkit-transform:rotate(315deg) translate(0, -40px);opacity:1;
}
#loader {
  position:absolute;
  top:300px;
  left:50%;
  z-index:9999;
  width:100px;
  height:100px;
  margin-bottom:1.5em;
  margin-right:1.5em;
  -moz-border-radius:100px;
  float:left;
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);
}
#loader div {
  width:10px;
  height:30px;
  background:#000;
  position:absolute;
  top:35px;
  left:45px;
}

#available-terms li{
  display:none;
}